body{

}

#banner{
    width: 100%;
}

.principal{
    background: #ffff
    padding: 30px
}
h1{
    text-align: center;
    color: blueviolet;
    background-color: aquamarine;
}

p{
    text-align: center;
}

#missão {
    font-size: 20px;
}

    color: blanchedalmond;
}
.itens {
    font-style: italic;
}

.benefios {
    background: #ffff;
    padding: 30px;
}

h2 {
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

imagimbeneficios{
    width: 50%;
}