body{

}

#banner{
    width: 100%;
}

.principal{
    background: rgb(148, 14, 14);
    padding: 30px
}
.titulo-principal{
    padding-left: 20px;
}
.titulo-centralizado {
    text-align: center;
    color: rgb(247, 247, 247);
    background-color: rgb(255, 255, 255);
}

p{
    text-align: center;
}

#missão {
    font-size: 20px;
}

    color: blanchedalmond;
}
.itens {
    font-style: italic;
}

.benefios {
    background: #ffff;
    padding: 30px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

imagimbeneficios{
    width: 50%;
}