body{

}

#banner{
    width: 100%;
}

.principal{
    background: #ffff;
}
h1{
    text-align: center;
    color: blueviolet;
    background-color: aquamarine;
}

p{
    text-align: center;
}

#missão {
    font-size: 20px;
}

    color: blanchedalmond;
}
.itens {
    font-style: italic;
}

.benefios {
    background: #ffff;
}

h2 {
    text-align: center;
}